@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=Inter");

* {
  font-size: 100%;
  font-family: Inter;
  
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.btn {
  @apply shadow-md py-3 px-6 rounded-md;
}

.btn-purple {
  @apply bg-purple-700 text-white;
}

.btn-white {
  @apply bg-gray-400;
}
